<form class="forgot-form">
    <h2 class="form-header">Reset User Password</h2>
    <div class="form-group">
        <label for="forgot-email">Email:</label>
        <input class="form-control" type="text" id="email-reset-email" />
    </div>
    <br>
    <br>
    <div class="form-group">
        <button id="email-reset-btn" type="submit" class="btn btn-light">Reset</button>
    </div>
    <br>
    <div class="remember">
        Remeber your password? <a href="/login">Log In</a>
    </div>
</form>

<script src="/js/email-reset.js"></script>