<div>
    <div class="container-md text-center">
        <h1 class="fw-bold">Welcome to Budget 2 Go!</h1>
        <p>Budget 2 Go is a budget and expense tracker designed for you to keep track of your money! Create an account and sign up now to get started and save money!</p>
    </div>
    <div class="text-center">
        <img src="images/expense-piggy.png" class="pb-3" alt="expense-piggybank">
    </div>
    <div class="container-fluid text-center">
        <p>
            Due to soaring inflation and prices increasing everwhere, Budget 2 Go is the perfect application for you to set your budget and track what you spend and where. In order to use this application, click the "Log In" button on top to get started. If you're not a member, simply sign up by entering your username, email address, and password! Once an account is created, log into your account!
        </p>
        <p>
            Once you're logged in, you are able to input your budget and add different expenses, whether that be for gas, groceries, entertainment, etc. This will allow you to keep track of where your money is going and allow you to plan your monthly expenses! When each of your expenses are inputted, it will subtract from your original budget so you can see how much money you are able to save by the end of the month!
        </p>
    </div>
</div>