<form class="login-form">
    {{!-- {{> message}} --}}
    <h2 class="form-header">Login</h2>
    <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-control" type="text" id="email-login" />
    </div>
    <br>
    <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-control" type="password" id="password-login" />
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-light">Login</button>
    </div>
    <br>
    <div class="sign-up">
        Not a member? <a href="/signup">Sign Up</a>
    </div>
    <div class="reset-user">
        Forgot you password? <a href="/email-reset">Reset Password</a>
    </div>
</form>

<script src="/js/login.js"></script>