<form class="login-form">
    {{> message}}
    <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="text" id="password-login" />
    </div>
    <div class="form-group">
        <button type="submit">Login</button>
    </div>
    <div class="sign-up">
        Not a member:? <a href="/signup">Sign Up Now!</a>
    </div>
</form>

<script src="./js/login.js"></script>