<form class="reset-form">
    <h2 class="form-header">Reset Password</h2>
    <div class="form-group">
        <label for="password-reset">New password:</label>
        <input class="form-control" type="password" id="password-reset" />
    </div>
    <br>
    <div class="form-group">
        <label for="password-retype">Retype Password:</label>
        <input class="form-control" type="password" id="password-retype" />
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-light">Reset</button>
    </div>
    <br>
    <div class="remember">
        Remember your password? <a href="/login">Log In</a>
    </div>
</form>

<script src="../public/js/password-reset.js"></script>