<form class="signup-form">
    <h2 class="form-header">Sign Up</h2>
    <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-control" type="text" id="username-signup" />
    </div>
    <br>
    <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-control" type="text" id="email-signup" />
    </div>
    <br>
    <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-control" type="password" id="password-signup" />
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-light">Submit</button>
    </div>
</form>

<script src="/js/signup.js"></script>